<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Symptom to Diagnosis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <link rel="stylesheet" href=""> -->
</head>

<nav>
    <!-- <header style = "background-color: rgb(152, 181, 205)"> </header> -->

    <img src="../static/media/webicon.png" alt="logo" class="center" style="width:250px">
    
</nav>

<body>
    <!-- <nav style = "background-color: rgb(255, 255, 255)")></nav> -->
    <header>
        <nav>
            <a href={{ url_for( 'predict_entries') }}>List Price</a>
            <a href={{ url_for( 'model_training') }}>Train Model</a><br>
        </nav>
    </header>
</body>

<body>
    <!-- <header style = "background-color: rgb(152, 181, 205)"> </header> -->

    <img src="../static/media/city.png" alt="logo" class="center" style="width:100%">
    <!-- <div class="centered" style="color:rgb(255, 255, 255); font-size: 50px;">Welcome</div>
    <div class="centerish" style="color:rgb(255, 255, 255); font-size: 25px">If you would like to predict your listing price based on current data, click "List Price"</div>
    <div class="bottom" style="color:rgb(255, 255, 255); font-size: 25px">If you an administrator who would like to train the model for list prices, click "Train Model"</div>
    -->
</body>

<body>
    <!-- <br>
    If you would like to predict your listing price based on current data, click "List Price"<br>
    <br>
    If you an administrator who would like to train the model for list prices, click "Train Model"<br>
    <br> 
    {% block content %} {% endblock %} -->

    <footer>
        <br>
        Realty Predictions 2022
    </footer>

</body>

</html>

