<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MediConnect</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
      .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #7aa8b7;
        border-radius: 6px;
        outline: none;
      }
    </style>
    <!-- <link rel="stylesheet" href=""> -->
</head>

<nav>
    <!-- <header style = "background-color: rgb(152, 181, 205)"> </header> -->

    <img src="../static/media/webicon.png" alt="logo" class="center" style="width:250px">

</nav>

<body>


<form action="/enter_symptoms" method="post">
    <!--<label style="text-align: center"></label>-->
    <br>
    <label style="font-family: Arial" class="center"><b>Select all symptoms</b></label><br>
    <br>
    <label style="font-family: Arial" class="center"><b>Select multiple items by pressing command or ctrl while selecting</b></label><br>
    <br>

    <select name = "symptoms" width=300 style="width: 350px"
            size="8" multiple>
        <option value='LossOfTaste'>Loss Of Taste</option>
        <option value='RunnyNoseCongestion'>Runny Nose or Congestion</option>
        <option value='DryEyes'>Dry Eyes</option>
        <option value='Vomiting'>Vomiting</option>
        <option value='LegsRed'>Red Legs</option>
        <option value='Wheezing'>Wheezing</option>
        <option value='NeckSwollen'>Swollen Neck</option>
        <option value='Chills'>Chills</option>
        <option value='EarPainRos'>Ear Pain</option>
        <option value='ChestPainLasts'>Lasting Chest Pain</option>

    </select>

    <input type="submit" value="Submit"><br>
</form>

{% block content %} {% endblock %}

<!-- <footer>
    <br>
    Sign up
</footer> -->

</body>

</html>

