<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>medical treatment platform</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <link rel="stylesheet" href=""> -->
    <!--test for hackgt-->
    <!-- patient accessibility-->
</head>

<nav>
    <!-- <header style = "background-color: rgb(152, 181, 205)"> </header> -->

    <img src="../static/media/webicon.png" alt="logo" class="center" style="width:250px">
    
</nav>

<body>

    <form action="/model" method="post">
        <!--<label style="text-align: center"></label>-->
        <br>
        <label style="font-family: Arial" class="center"><b>Administrators can train the model any number of times. Please login below to train the model using our database.</b></label><br>
        <br>
        <label style="font-family: Arial" for="fname" class="center"><b>Administrator Login</b></label><br>
        <br>
        <input type="text" id="fname" name="fname"><br>
        <br>
        <input type="submit" value="Submit"><br>
        <br> 
    </form>

    {% block content %} {% endblock %}

    <footer>
        <br>
        Realty Predictions 2022
    </footer>

</body>

</html>

