<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>House Listing Price Prediction</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <link rel="stylesheet" href=""> -->
</head>

<nav>
    <!-- <header style = "background-color: rgb(152, 181, 205)"> </header> -->

    <img src="../static/media/webicon.png" alt="logo" class="center" style="width:250px">
    
</nav>

<body>

    <form action="/predict" method="post">
        <!--<label style="text-align: center"></label>-->
        <br>
        <label style="font-family: Arial" class="center"><b>Our algorithm predicts a suitable listing price for your property based on the number of rooms and the distance from the city center. Please enter below.</b></label><br>
        <br>
        <label style="font-family: Arial" for="rm" class="center"><b>Number of Rooms (1-10)</b></label><br>
        <br>
        <input type="number" step="0.01" id="rm" name="rm" min="1" max="10"><br>
        <br>
        <label style="font-family: Arial" for="dis" class="center"><b>Distance from City Center (0-15 miles)</b></label><br>
        <br>
        <input type="number" step="0.01" id="dis" name="dis" min="0" max="15"><br>
        <br>
        <input type="submit" value="Submit"><br>
        <br> 
    </form>

    {% block content %} {% endblock %}

    <footer>
        <br>
        Realty Predictions 2022
    </footer>

</body>

</html>

